<%= form_with(model: service_object, local: true) do |form| %>
  <% if service_object.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <h2><%= pluralize(service_object.errors.count, "error") %> prohibited this service_object from being saved:</h2>

      <ul>
      <% service_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:customer), class: 'label', id: :customer %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.collection_select :customer_id, Customer.all, :id, :customer_address_line, class: 'input is-danger' %>
        </div>
        <div class="help is-danger"><%= t :field_required %></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:address), class: 'label', id: :address %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.collection_select :address_id, Address.all, :id, :address_line, class: 'input is-danger' %>
        </div>
        <div class="help is-danger"><%= t :field_required %></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:has_service_contract), class: 'label', id: :has_service_contract %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.check_box :has_service_contract, class: 'check_box' %>
        </div>
        <div class="help"></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:service_contract_begin), class: 'label', id: :service_contract_begin %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.date_field :service_contract_begin %>
        </div>
        <div class="help"></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:service_contract_length), class: 'label', id: :service_contract_length %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.date_field :service_contract_length %>
        </div>
        <div class="help"></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:service_contract_auto_resume_interval), class: 'label', id: :service_contract_auto_resume_interval %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.datetime_field :service_contract_auto_resume_interval %>
        </div>
        <div class="help"></div>
      </div>
    </div>
  </div>

  <div class="actions">
  <%= form.submit nil, class: 'button is-primary' %>
  </div>
<% end %>
