<h2 class="subtitle"><%= t('.address') %>:</h2>
<%= render partial: "service_objects/attributes", locals: { service_object: @service_object } %>

<hr>

<!-- Customer -->
<h2 class="subtitle"><%= t(:customer) %>:</h2>
<div class="container">
  <div class="">
    <%= link_to customer_path(@service_object.customer) do %>
    <%= render partial: "addresses/attributes", locals: { address: @service_object.customer.address } %>
    <% end %>
  </div>
</div>

<hr>

<!-- CentralDevices -->
<% unless @service_object.central_devices.nil? %>
<h2 class="subtitle"><%= t('.central_devices') %>:</h2>
  <% for central_device in @service_object.central_devices %>
  <!-- TODO: create helper 'object_device_number' -->
  <!-- [object number]-[device number] -->
  <h3 class="is-size-5"><%= @service_object.object_number %>-<%= central_device.device_number %></h3>
    <%= render partial: "central_devices/attributes", locals: { central_device: central_device } %>
    <div class="columns">
      <div class="column">
        <%= link_to t('Show'), central_device, class: 'button' %>
        <%= link_to t('Edit'), edit_central_device_path(central_device), class: 'button' %>
        <%= link_to t('Destroy'), central_device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>

<%= link_to t(:new_service_object_central_device), new_service_object_central_device_path(@service_object) %>

<hr>

<!-- Site Navigation -->
<div style="padding-top: 1em">
<%= link_to t('Edit'), edit_service_object_path(@service_object), class: "button is-waring" %>
<%= link_to t('Back'), service_objects_path, class: "button" %>
</div>
