

<h1 class="title"><%= t :service_protocols_title %></h1>

<div class="columns is-centered">
  <%= form_tag(service_protocols_path, method: :get) do %>
  <div class="field has-addons">
    <div class="control">
      <%= text_field_tag :q, params[:q], { class: 'input', placeholder: t('.placeholder') } %>
    </div>
    <div class="control">
      <%= submit_tag t('Search'), name:nil, class: 'button is-info' %>
    </div>
  </div>
  <% end %>
</div>


<% @service_protocols.each do |service_protocol| %>
  <%= render partial: "service_protocol", locals: { service_protocol: service_protocol } %>
<% end %>
