<div class="container">
  <div class="columns">
    <div class="column"><h1 class="title"><%= t(:service_protocol) %></h1></div>
    <div class="column"><h1 class="title"><%= t(:object_nr) %>:&nbsp;<%= @service_protocol.central_device.service_object.object_number %></h1></div>
  </div>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:customer), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%= @service_protocol.central_device.service_object.customer.address.match_code %></span>
    </div>
    <div class="column">
      <%= label_tag nil, t(:address), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%= render partial: "addresses/attributes", locals: {address: @service_protocol.central_device.service_object.customer.address} %></span>
    </div>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:service_object), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%= @service_protocol.central_device.service_object.address.match_code %></span>
    </div>
    <div class="column">
      <%= label_tag nil, t(:address), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%= render partial: "addresses/attributes", locals: {address: @service_protocol.central_device.service_object.address} %></span>
    </div>
  </div>
  <div class="">
    <%= link_to t('.edit.service_object'), edit_service_object_path(@service_protocol.central_device.service_object.id), class: 'button is-warning' %>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:contact_person), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%#= @service_protocol.service_object.address.first %></span>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:telephone_number), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%=  @service_protocol.central_device.device_number %></span>
    </div>
    <div class="column">
      <%= label_tag nil, t(:mobile_number), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%#= @service_protocol.service_object.address.first %></span>
    </div>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:device_number), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%=  @service_protocol.central_device.device_number %></span>
    </div>
    <div class="column">
      <%= label_tag nil, t(:device_type), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%=  @service_protocol.central_device.device_type %></span>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:number), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span>1</span>
    </div>
    <div class="column">
      <%= label_tag nil, t(:location), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <span><%=  @service_protocol.central_device.location %></span>
    </div>
  </div>
  <div class="">
    <%= link_to t('.edit.central_device'), edit_central_device_path(@service_protocol.central_device), class: 'button is-warning' %>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:is_function_check), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_function_check, nil, @service_protocol.is_function_check %>
    </div>
    <div class="column">
      <%= label_tag nil, t(:is_montage), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_montage, nil, @service_protocol.is_montage %>
    </div>
    <div class="column">
      <%= label_tag nil, t(:is_systemcheck), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_systemcheck, nil, @service_protocol.is_systemcheck %>
    </div>
    <div class="column">
      <%= label_tag nil, t(:is_repair), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_repair, nil, @service_protocol.is_repair %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= label_tag nil, t(:is_commisioning), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_commisioning, nil, @service_protocol.is_commisioning %>
    </div>
    <div class="column">
      <%= label_tag nil, t(:is_systemcheck), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_systemcheck, nil, @service_protocol.is_systemcheck %>
    </div>
    <div class="column">
      <%= label_tag nil, t(:is_service_contract), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_service_contract, nil, @service_protocol.is_service_contract %>
    </div>
    <div class="column">
      <%= label_tag nil, t(:is_expenditure), class: "has-text-weight-bold" %>
    </div>
    <div class="column">
      <%= check_box_tag :is_expenditure, nil, @service_protocol.is_expenditure %>
    </div>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <label>Alarm outputs:</label>
    </div>
  </div>

  <table class="table is-fullwidth is-bordered is-hoverable">
    <thead>
      <tr>
        <th><abbr title="<%= t 'sensor_number.formats.default' %>"><%= t 'sensor_number.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'checked.formats.default' %>"><%= t 'checked.formats.short' %></abbr></th>
        <th><%= t :gas_type %></th>
        <th><%= t :sensor_type %></th>
        <th><abbr title="<%= t 'measuring_range.formats.default' %>"><%= t 'measuring_range.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'next_exchange.formats.default' %>"><%= t 'next_exchange.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a1.formats.default' %>"><%= t 'a1.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a2.formats.default' %>"><%= t 'a2.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a3.formats.default' %>"><%= t 'a3.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a4.formats.default' %>"><%= t 'a4.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'si_unit.formats.default' %>"><%= t 'si_unit.formats.short' %></abbr></th>
        <th><%= t :location %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><abbr title="<%= t 'sensor_number.formats.default' %>"><%= t 'sensor_number.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'checked.formats.default' %>"><%= t 'checked.formats.short' %></abbr></th>
        <th><%= t :gas_type %></th>
        <th><%= t :sensor_type %></th>
        <th><abbr title="<%= t 'measuring_range.formats.default' %>"><%= t 'measuring_range.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'next_exchange.formats.default' %>"><%= t 'next_exchange.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a1.formats.default' %>"><%= t 'a1.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a2.formats.default' %>"><%= t 'a2.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a3.formats.default' %>"><%= t 'a3.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'a4.formats.default' %>"><%= t 'a4.formats.short' %></abbr></th>
        <th><abbr title="<%= t 'si_unit.formats.default' %>"><%= t 'si_unit.formats.short' %></abbr></th>
        <th><%= t :location %></th>
      </tr>
    </tfoot>
    <tbody>
      <% for sensor in @service_protocol.central_device.sensors.order(:number) %>
      <tr>
        <td><%= sensor.try(:number) %></td>
        <td><%= check_box_tag :checked %></td>
        <td><%= sensor.gas_type.try(:chemical_formula) %></td>
        <td><%= sensor.sensor_type.try(:name) %></td>
        <td><%= "#{sensor.try(:min_value)} - #{sensor.try(:max_value)}" %></td>
        <td><%=  %></td>
        <td><%= sensor.try(:alarm_point_1) || raw('/') %></td>
        <td><%= sensor.try(:alarm_point_2) || raw('/') %></td>
        <td><%= sensor.try(:alarm_point_3) || raw('/') %></td>
        <td><%= sensor.try(:alarm_point_4) || raw('/') %></td>
        <td><%= sensor.try(:si_unit).try(:name) %></td>
        <td><%= sensor.try(:location) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div style="padding-top: 1em;">
  <%= link_to "PDF anzeigen", central_device_service_protocol_path(@service_protocol.central_device.id, @service_protocol, :format => "pdf"), class: "button is-info" %>
  <%= link_to t('Edit'), edit_central_device_service_protocol_path(@service_protocol.central_device.id, @service_protocol), class: "button is-warning" %>
  <%= link_to t('Back'), service_protocols_path, class: "button" %>
  </div>
</div> <!-- End conatiner -->
