<%= form_with(model: si_unit, local: true) do |form| %>
  <% if si_unit.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <h2><%= pluralize(si_unit.errors.count, "error") %> prohibited this si_unit from being saved:</h2>

      <ul>
      <% si_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label t(:name), class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :name %>
        </div>
        <div class="help"></div>
      </div>
    </div>
  </div>

  <div class="actions">
  <%= form.submit nil, class: 'button is-primary' %>
  </div>
<% end %>
