<%= link_to customer do %>
<div class="box">
  <div>
    <span class="has-text-weight-light"><%= t :customer_number %>:&nbsp;</span>
    <span class="has-text-weight-bold">#</span>
    <span class="has-text-weight-bold"><%= customer.customer_number %></span>
    <% unless customer.service_objects.blank? %>
    <span class="button is-size-7"><%= t '.service_object', count: customer.service_objects.size %></span>
    <% end %>
  </div>

<div class="">
  <%= render partial: "addresses/attributes", locals: {address: customer.address } %>
</div>

</div>
<% end %>
