<%= link_to customer do %>
<div class="box">
  <div class="has-text-weight-bold">
    <span class="has-text-weight-light"><%= t :customer_number %>:&nbsp;</span>
    <span>#</span>
    <span><%= customer.customer_number %></span>
  </div>

<div class="">
  <div class="has-text-weight-light">
    <%= t :address %>:
  </div>
  <%= render partial: "addresses/attributes", locals: {address: customer.address } %>
</div>

  <div class="">
    <span><%= customer.service_objects.size %></span>
    <span><%= t 'service_object' %></span>
  </div>
</div>
<% end %>
