<tr>
  <td><%= form.text_field :number, class: 'input is-fullwidth' %></td>
  <td><%= form.collection_select :sensor_type_id, SensorType.all, :id, :name, class: '' %></td>
  <td><%= form.collection_select :gas_type_id, GasType.all, :id, :name, class: '' %></td>
  <td><%= form.text_field :min_value, class: 'input' %></td>
  <td><%= form.text_field :max_value, class: 'input' %></td>
  <td><%= form.date_field :application_date, class: 'input' %></td>
  <td><%= form.date_field :livetime, class: 'input' %></td>
  <td><%= form.text_field :alarm_point_1, class: 'input' %></td>
  <td><%= form.text_field :alarm_point_2, class: 'input' %></td>
  <td><%= form.text_field :alarm_point_3, class: 'input' %></td>
  <td><%= form.text_field :alarm_point_4, class: 'input' %></td>
  <td><%= form.collection_select :si_unit_id, SiUnit.all, :id, :name, class: '' %></td>
  <td><%= form.text_field :location, class: 'input' %></td>
  <td>
    <%= form.hidden_field :_destroy %>
    <%= link_to t('Destroy'), '#', class: 'button is-danger remove_record' %>
  </td>
  <td>
    <%#= FIXME: The following row causes an infinite loop, crash Error 500!!!  %>
    <%#= link_to_copy_row t('Copy Sensor'), form, :sensors, class: 'button' %>
  </td>
</tr>
