<tr>
  <td><%= sensor.number %></td>
  <td><%= sensor.sensor_type.name %></td>
  <td><%= sensor.case_type %></td>
  <td><%= sensor.gas_type.name_with_formula %></td>
  <td><%= sensor.min_value %></td>
  <td><%= sensor.max_value %></td>
  <td><%= l sensor.application_date, format: :short unless sensor.application_date.nil? %></td>
  <td><%= l sensor.livetime, format: :short unless sensor.livetime.nil? %></td>
  <td><%= sensor.alarm_point_1 %></td>
  <td><%= sensor.alarm_point_2 %></td>
  <td><%= sensor.alarm_point_3 %></td>
  <td><%= sensor.alarm_point_4 %></td>
  <td><%= sensor.si_unit.name %></td>
  <td><%= sensor.location %></td>
</tr>
