<tr>
  <td><%= sensor.number %></td>
  <td><%= sensor.sensor_type.name %></td>
  <td><%= sensor.gas_type.name_with_formula %></td>
  <td><%= sensor.zero_point %></td>
  <td><%= sensor.min_value %></td>
  <td><%= sensor.max_value %></td>
  <td><%= sensor.application_date %></td>
  <td><%= sensor.livetime %></td>
  <td><%= sensor.alarm_point_1 %></td>
  <td><%= sensor.alarm_point_2 %></td>
  <td><%= sensor.alarm_point_3 %></td>
  <td><%= sensor.alarm_point_4 %></td>
  <td><%= sensor.si_unit_id %></td>
  <td><%= sensor.location %></td>
</tr>
