<!--
Used in:
* _address.html.erb
-->
<div class="columns">
  <div class="column">
    <div class="is-size-5"><%= address.match_code %></div>
    <div class="is-size-5"><%= address.full_name %></div>
    <div class=""><%= address.zip_city %></div>

    <% unless address.mobile_number.empty? %>
    <div>
      <span class="has-text-weight-light"><%= t :mobile_number %>:&nbsp;</span>
      <span><%= address.mobile_number %></span>
    </div>
    <% end %>

    <% unless address.telephone_number.empty? %>
    <div>
      <span class="has-text-weight-light"><%= t :telephone_number %>:&nbsp;</span>
      <span><%= address.telephone_number %></span>
    </div>
    <% end %>

    <% unless address.email_address.empty? %>
    <div>
      <span class="has-text-weight-light"><%= t :email_address %>:&nbsp;</span>
      <span><%= address.email_address %></span>
    </div>
    <% end %>

  </div>
</div>
