<div class="box">
  <div>
    <span class="has-text-weight-light"><%= t :object_device_number %>:&nbsp;</span>
    <span class="has-text-weight-bold">#</span>
    <span class="has-text-weight-bold"><%= central_device.object_device_number %></span>
  </div>

  <div class="is-size-4">
    <span class="has-text-weight-light"><%= t :device_type %>:&nbsp;</span>
    <span><%= central_device.device_type %></span>
  </div>

  <div>
    <span class="has-text-weight-light"><%= t :serial_number %>:&nbsp;</span>
    <span><%= central_device.serial_number %></span>
  </div>

  <div>
    <span class="has-text-weight-light"><%= t :location %>:&nbsp;</span>
    <span><%= central_device.location %></span>
  </div>

  <div>
    <span class="has-text-weight-light"><%= t :created_at %>:&nbsp;</span>
    <span class="has-text-weight-bold"><%= l central_device.created_at, format: :default %></span>
    <span class="has-text-weight-light"><%= t :updated_at %>:&nbsp;</span>
    <span class="has-text-weight-bold"><%= l central_device.updated_at, format: :default %></span>
  </div>

</div>
