<tr class="nested-fields">
  <td><%= f.text_field :number, class: 'input is-fullwidth', style: "width:5em;" %></td>
  <td><%= f.collection_select :sensor_type_id, SensorType.all, :id, :name, class: '' %></td>
  <td><%= f.text_field :case_type, class: 'input is-fullwidth' %></td>
  <td><%= f.collection_select :gas_type_id, GasType.all, :id, :name_with_formula, class: '' %></td>
  <td><%= f.text_field :min_value, class: 'input' %></td>
  <td><%= f.text_field :max_value, class: 'input' %></td>
  <td><%= f.date_field :application_date, class: 'input' %></td>
  <td><%= f.date_field :next_change_date, class: 'input' %></td>
  <td><%= f.text_field :alarm_point_1, class: 'input' %></td>
  <td><%= f.text_field :alarm_point_2, class: 'input' %></td>
  <td><%= f.text_field :alarm_point_3, class: 'input' %></td>
  <td><%= f.text_field :alarm_point_4, class: 'input' %></td>
  <td><%= f.collection_select :si_unit_id, SiUnit.all, :id, :name, class: '' %></td>
  <td><%= f.text_field :location, class: 'input' %></td>
  <td>
    <%= link_to_remove_association t('Destroy'), f, class: 'button is-danger' %>
  </td>
  <td>
    <%#= link_to_copy_row t('Copy Sensor'), form, :sensors, class: 'button' %>
    <%= link_to t(:copy_sensor), '#', remote: true, class: 'button', data: {} %>
  </td>
</tr>
