<h1 class="title"><%= @central_device.device_type %></h1>

<hr>

<% unless @customer.blank? %>
<h2 class="subtitle"><%= t('.customer') %></h2>
<%= render partial: "addresses/attributes", locals: {address: @customer.first.address} %>
<% end %>

<hr>

<% unless @service_object.blank? %>
<h2 class="subtitle"><%= t('.service_object') %></h2>
<%= render partial: "addresses/attributes", locals: {address: @service_object.first.address} %>
<% end %>

<hr>

<div class="columns">
  <div class="column">
    <%= t('.serial_number') %>
  </div>
  <div class="column">
    <%= @central_device.serial_number %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= t('.device_number') %>
  </div>
  <div class="column">
    <%= @central_device.device_number %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= t('.location') %>
  </div>
  <div class="column">
    <%= @central_device.location %>
  </div>
</div>

<hr>

<h2 class="subtitle"><%= t('.alarm_outputs') %></h2>

<hr>

<table class="table is-fullwidth is-bordered is-striped is-hoverable">
  <thead>
    <tr>
      <th><abbr title="<%= t('sensor_number.formats.default') %>"><%= t('sensor_number.formats.short') %></abbr></th>
      <th><%= t(:sensor_type) %></th>
      <th><%= t(:gas_type) %></th>
      <th><abbr title="<%= t('min_value.formats.default') %>"><%= t('min_value.formats.short') %></abbr></th>
      <th><abbr title="<%= t('max_value.formats.default') %>"><%= t('max_value.formats.short') %></abbr></th>
      <th><abbr title="<%= t('exchanged.formats.default') %>"><%= t('exchanged.formats.short') %></abbr></th>
      <th><abbr title="<%= t('livetime.formats.default') %>"><%= t('livetime.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a1.formats.default') %>"><%= t('a1.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a2.formats.default') %>"><%= t('a2.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a3.formats.default') %>"><%= t('a3.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a4.formats.default') %>"><%= t('a4.formats.short') %></abbr></th>
      <th><abbr title="<%= t('si_unit.formats.default') %>"><%= t('si_unit.formats.short') %></abbr></th>
      <th><%= t(:location) %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="<%= t('sensor_number.formats.default') %>"><%= t('sensor_number.formats.short') %></abbr></th>
      <th><%= t(:sensor_type) %></th>
      <th><%= t(:gas_type) %></th>
      <th><abbr title="<%= t('min_value.formats.default') %>"><%= t('min_value.formats.short') %></abbr></th>
      <th><abbr title="<%= t('max_value.formats.default') %>"><%= t('max_value.formats.short') %></abbr></th>
      <th><abbr title="<%= t('exchanged.formats.default') %>"><%= t('exchanged.formats.short') %></abbr></th>
      <th><abbr title="<%= t('livetime.formats.default') %>"><%= t('livetime.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a1.formats.default') %>"><%= t('a1.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a2.formats.default') %>"><%= t('a2.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a3.formats.default') %>"><%= t('a3.formats.short') %></abbr></th>
      <th><abbr title="<%= t('a4.formats.default') %>"><%= t('a4.formats.short') %></abbr></th>
      <th><abbr title="<%= t('si_unit.formats.default') %>"><%= t('si_unit.formats.short') %></abbr></th>
      <th><%= t(:location) %></th>
    </tr>
  </tfoot>
  <tbody>
  <% for sensor in @sensors.sort_by{|s| s.number.to_i} do %>
    <%= render "sensors/sensor", sensor: sensor %>
  <% end %>
  </tbody>
</table>

<div style="padding-top: 1em;">
  <%= link_to t(:show_print_pdf), central_device_path(@central_device, format: :pdf), class: 'button is-info' %>
  <%= link_to t('Edit'), edit_central_device_path(@central_device), class: 'button is-warning' %>
  <%= link_to t('Back'), central_devices_path, class: 'button' %>
</div>
