<%= bg_status @central_device %>

<h1 class="title"><%= t 'central_device' %>&nbsp;<%= button_status(@central_device) %></h1>
<h2 class="subtitle"><%= @central_device.device_type %></h2>

<hr>

<div class="columns">
  <!-- BEGIN Object Address -->
  <div class="column">
    <% unless @service_object.blank? %>
    <h2 class="subtitle"><%= t('.service_object') %></h2>
    <%= render partial: "addresses/attributes", locals: {address: @service_object.address} %>
    <% end %>
  </div>
  <!-- END Object Address -->

  <!-- BEGIN Customer Address -->
  <div class="column">
  <% unless @customer.blank? %>
  <h2 class="subtitle"><%= t('.customer') %></h2>
  <%= render partial: "addresses/attributes", locals: {address: @customer.address} %>
  <% end %>
  </div>
  <!-- END Customer Address -->
</div>

<hr>

<div class="columns">
  <!-- BEGIN Details -->
  <div class="column">
    <h2 class="subtitle"><%= t 'details' %></h2>
    <div class="box">
      <div>
        <span class="has-text-weight-light"><%= t '.serial_number' %>:&nbsp;</span>
        <span class="has-text-weight-bold"><%= @central_device.serial_number %></span>
      </div>

      <div>
        <span class="has-text-weight-light"><%= t '.device_number' %>:&nbsp;</span>
        <span class="has-text-weight-bold"><%= @central_device.device_number %></span>
      </div>

      <div>
        <span class="has-text-weight-light"><%= t '.location' %>:&nbsp;</span>
        <span class="has-text-weight-bold"><%= @central_device.location %></span>
      </div>
    </div>

    <% if @central_device.has_accu %>
    <div class="box">
      <h2 class="subtitle"><%= t 'has_accu' %></h2>
      <% unless @central_device.accu_montage_date.blank? %>
        <span class="has-text-weight-light"><%= t :accu_montage_date %>:&nbsp;</span>
        <span class="has-text-weight-light"><%= l @central_device.accu_montage_date, format: :month_year unless @central_device.accu_montage_date.blank? %></span>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- END Details -->

  <!-- BEGIN Ansprechpartner -->
  <div class="column">
  </div>
  <!-- END Ansprechpartner -->
</div>

<hr>

<div class="columns">
  <!-- BEGIN OutputDevice -->
  <div class="column">
    <h2 class="subtitle"><%= t 'OutputDevice' %></h2>
    <table class="table is-fullwidth as-td-padding-0 is-bordered is-striped is-hoverable">
      <thead>
        <tr>
          <th><%= t :count %></th>
          <th><%= t :type %></th>
          <th><%= t :has_accu %></th>
          <th><%= t :accu_montage_date %></th>
        </tr>
      </thead>
      <tbody class="output_devices">
      <% for output_device in @central_device.output_devices %>
        <%= render "output_device", output_device: output_device %>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- END OutputDevice -->

  <!-- BEGIN Alarm Output -->
  <div class="column">
    <% unless @central_device.alarm_outputs.blank? %>
    <h2 class="subtitle"><%= t 'AlarmOutputs' %></h2>
    <table class="table is-fullwidth as-td-padding-0 is-bordered is-striped is-hoverable">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th><%= t :invert %></th>
        </tr>
      </thead>
      <tbody class="alarm_outputs">
      <% for alarm_output in @central_device.alarm_outputs %>
        <%= render "alarm_output", f: alarm_output %>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <!-- END Alarm Output -->
</div>

<hr>

<!-- BEGIN Sensors -->
<table class="table is-fullwidth is-bordered is-striped is-hoverable">
  <thead>
    <tr>
      <th><abbr title="<%= t('sensor_number.formats.default') %>"><%= t('sensor_number.formats.short') %></abbr></th>
      <th><%= t :sensor_type %></th>
      <th><abbr title="<%= t 'case_type.formats.default' %>"><%= t 'case_type.formats.short' %></abbr></th>
      <th><%= t :gas_type %></th>
      <th><abbr title="<%= t 'min_value.formats.default' %>"><%= t 'min_value.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'max_value.formats.default' %>"><%= t 'max_value.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'exchanged.formats.default' %>"><%= t 'exchanged.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'livetime.formats.default' %>"><%= t 'livetime.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a1.formats.default' %>"><%= t 'a1.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a2.formats.default' %>"><%= t 'a2.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a3.formats.default' %>"><%= t 'a3.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a4.formats.default' %>"><%= t 'a4.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'si_unit.formats.default' %>"><%= t 'si_unit.formats.short' %></abbr></th>
      <th><%= t :location %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="<%= t('sensor_number.formats.default') %>"><%= t('sensor_number.formats.short') %></abbr></th>
      <th><%= t :sensor_type %></th>
      <th><abbr title="<%= t 'case_type.formats.default' %>"><%= t 'case_type.formats.short' %></abbr></th>
      <th><%= t :gas_type %></th>
      <th><abbr title="<%= t 'min_value.formats.default' %>"><%= t 'min_value.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'max_value.formats.default' %>"><%= t 'max_value.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'exchanged.formats.default' %>"><%= t 'exchanged.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'livetime.formats.default' %>"><%= t 'livetime.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a1.formats.default' %>"><%= t 'a1.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a2.formats.default' %>"><%= t 'a2.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a3.formats.default' %>"><%= t 'a3.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'a4.formats.default' %>"><%= t 'a4.formats.short' %></abbr></th>
      <th><abbr title="<%= t 'si_unit.formats.default' %>"><%= t 'si_unit.formats.short' %></abbr></th>
      <th><%= t :location %></th>
    </tr>
  </tfoot>
  <tbody>
  <% for sensor in @sensors.sort_by{|s| s.number.to_i} do %>
    <%= render "sensors/sensor", sensor: sensor %>
  <% end %>
  </tbody>
</table>
<!-- END Sensors -->

<div class="columns">
  <!-- BEGIN History -->
  <div class="column">
    <h2 class="subtitle"><%= t 'history' %></h2>
    <% for history in @central_device.history_entries do %>
      <div class="box">
        <div class="">
          <%= history.entry %>
        </div>
        <div>
          <span class="has-text-weight-light"><%= t :created_at %>:&nbsp;</span>
          <span class="has-text-weight-bold"><%= l history.created_at, format: :default %></span>
          <span class="has-text-weight-light"><%= t :updated_at %>:&nbsp;</span>
          <span class="has-text-weight-bold"><%= l history.updated_at, format: :default %></span>
        </div>
      </div>
    <% end %>
  </div>
  <!-- END History -->
</div>

<div style="padding-top: 1em;">
  <%= link_to t(:show_print_pdf), central_device_path(@central_device, format: :pdf), class: 'button is-info' %>
  <%= link_to t('Edit'), edit_central_device_path(@central_device), class: 'button is-warning' %>
  <%= link_to t('Back'), central_devices_path, class: 'button' %>
</div>
