
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to( image_tag( "logo_kliemann-service-gmbh.svg"), root_path, class: 'navbar-item' ) %>

    <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="nav-menu" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to (title_with_size :customers), :customers, class: 'navbar-item' %>
      <%= link_to (title_with_size :service_objects), :service_objects, class: 'navbar-item' %>
      <%= link_to t(:gas_types_title), :gas_types, class: 'navbar-item' %>
      <%= link_to t(:sensor_types_title), :sensor_types, class: 'navbar-item' %>
      <%= link_to t(:si_units_title), :si_units, class: 'navbar-item' %>
      <%= link_to t(:service_contracts), :service_contracts, class: 'navbar-item notification is-warning' %>
    </div>
  </div>
</nav>
