<!DOCTYPE html>
<html>
  <head>
    <title>KIS - Kliemann-Service Info System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.development? %>
    <%= favicon_link_tag asset_path('favicon-development.ico') %>
    <% else %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= render partial: "partials/notice_messages", flash: flash %>

    <section class="section">
      <div class="container">
      <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class=" has-text-centered">
        <div>
          <strong>KIS - Kliemann-Service Info System</strong>
        </div>
        <div><%= version_number %></div>
        <div class="is-size-7">&copy; 2019 Stefan Müller<br />Kliemann-Service GmbH</div>
      </div>
    </footer>
  </body>
</html>
